{% extends 'core/base.html' %}
{% block titulo %} inicio {% endblock %}
{% load static %}
{% block estilo %}
<link rel="stylesheet" href="{% static 'css/stylelogin.css' %}">
{% endblock %}
{% block contenido %}
    <div class="d-flex justify-content-center align-items-center">
        <form method="post" action="{% url 'update_view' %}" class="p-5 rounded-5">
            {% csrf_token %}
            <h1 class="text-center fs-1 fw-bold">Actualizar</h1>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><ion-icon name="qr-code-outline"></ion-icon></span>
    
                <input type="text" id="id" name="id" class="form-control" value="{{ update.id }}" maxlength="20" required=""  readonly>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"> <ion-icon name="card-outline"></ion-icon>Movimiento</span>
               
                <select name="movimiento" class="form-select" required="" id="id_movimiento">
                    <option value="" selected="">---------</option>
                  
                    <option value="1">Ingresos</option>
                  
                    <option value="2">Egresos</option>
                  
                  </select>
                
                </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><ion-icon name="cash-outline"></ion-icon>Motivos</span>
                
                <select name="motivos" class="form-select" required="" id="id_motivos">
                    <option value="" selected="">---------</option>
                  
                    <option value="1">Comida</option>
                  
                    <option value="2">Gasolina</option>
                  
                    <option value="3">Arriendo</option>
                  
                    <option value="4">Moto</option>
                  
                    <option value="5">Comida Rap</option>
                  
                    <option value="6">Celular</option>
                  
                    <option value="8">Sueldo</option>
                  
                    <option value="9">Alquiler</option>
                  
                    <option value="10">Inversión</option>
                  
                    <option value="11">Otro Ingre</option>
                  
                    <option value="12">Otro Egres</option>
                  
                  </select>
                </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><ion-icon name="document-text-outline"></ion-icon>
                 Descripción</span>
                <input type="text" name="descripcion" class="form-control" value="{{ update.descripcion }}" maxlength="20" required="" id="id_descripcion">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><ion-icon name="wallet-outline"></ion-icon>
                    Monto
                </span>
                <input type="number" name="monto" class="form-control" value="{{ update.monto }}" step="0.01" required="" id="id_monto">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><ion-icon name="calendar-outline"></ion-icon>Fecha</span>
            
                {% with formatted_date=update.fecha|date:"Y-m-d" %}
                    <input type="date" name="fecha" class="form-control" id="id_fecha" value="{{ formatted_date }}">
                {% endwith %}
            </div>
            <button type="submit" id="button" class="btn btn-dark w-100 mt-3">Guardar cambios</button>
        </form>
    </div>
    
{% endblock %}
<script src="{% static 'js/login.js' %}"></script> 