{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    {% block estilo %}{% endblock %}
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"/>
    <!--DataTables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"/>
    <!--Custom css-->
    <link rel="stylesheet" href="{% static 'css/stylebase.css' %}">
</head>
<body>
  <div>
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="{% url 'inicio' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img src="{% static 'media/img/logo.jpg' %}" alt="log" class="bi me-2" width="40" height="32">
          </a>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'inicio' %}" class="nav-link px-2 link-dark">Inicio</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'dashboard' %}" class="nav-link px-2 link-dark">Dashboard</a></li>
              <li><a href="{% url 'registrar' %}" class="nav-link px-2 link-dark">Registrar</a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Contactanos</a></li>
            {% else %}
              <li><a href="{% url 'tu_vista_login' %}" class="nav-link px-2 link-dark">Ingresar</a></li>            
              <li><a href="{% url 'registro' %}" class="nav-link px-2 link-dark">Registrarme</a></li>
            {% endif %}
          </ul>
  
          {% if user.is_authenticated %}
            <hr class="dropdown-divider">
            <div class="d-flex dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {% if request.user.photo %}
                    <img src="{{ request.user.photo.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                {% else %}
                    <img src="{% static 'media/img/default.jpg' %}" alt="mdo" width="32" height="32" class="rounded-circle">
                {% endif %}
                {{ user.username }}
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="{% url 'perfilUsuario' user_id=request.user.id %}">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
              </ul>
            </div>
          {% else %}

          {% endif %}
        </div>
      </div>
    </header>
  </div>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'inicio' %}">
            <img src="{% static 'media/img/logo.jpg' %}" alt="log" width="150px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registrar' %}">Registrar</a>
              </li>
              <li class="nav-item dropdown">
                {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    
                {% else %}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ingresar
                    </a>


                {% endif %}
                <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'perfilUsuario' user_id=request.user.id %}">Perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'tu_vista_login' %}">Iniciar Sesión</a></li>
                        <li><a class="dropdown-item" href="#">Registrarme</a></li>
                    {% endif %}
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
            
        </div>
      </nav>

    </div>
    <main>
    {% block contenido %}
    {% endblock %}

    </main>
    
    <!-- Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <!--Apache ECharts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
   <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <!--DataTables-->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <!--Otro-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/base.js'  %}"></script>
</body>
</html>