{% extends 'core/base.html' %}
{% block titulo %} Inicio {% endblock %}
{% load static %}

{% block estilo %}
    <link rel="stylesheet" href="{% static 'css/styledashboard.css' %}">
{% endblock %}

{% block contenido %}
    <div class="contenedor">
         <!-- ======= Bienvenida ======= -->
        <div class="bienvenido">
            <h1>Dashboard</h1>
        </div>
        
         <!-- Fin Bienvenida -->
         <!-- ======= Servicios ======= -->
        <div class="servicios">
            <h3>Resumen de finanzas personales</h3>
            <div class="servi">
                <div>
                    <h4>Total ingresos</h4>
                    <p> $ {{ monto_total_ingresos }}</p>
                    <ion-icon name="trending-up-outline"></ion-icon>
                </div>
                <div>
                    <h4>Total Egresos</h4>
                    <p> $ {{ monto_total_egresos }}</p>
                    <ion-icon name="trending-down-outline"></ion-icon>
                </div>               
                <div>
                    <h4>Total Disponible</h4>
                    <p> $ {{ monto_total_disponible }} </p>
                    <ion-icon name="wallet-outline"></ion-icon>
                </div>                
                
            </div>    
        </div>

        <!-- Fin Servicios -->

        <!-- Incio Graficos-->
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
                    <div class="table-responsive">
                        <table id="datos" class="table">
                            <caption> Mis datos </caption>
                            <thead>
                                <tr>
                                    <th class="centered">#</th>
                                    <th class="centered">Id</th>
                                    <th class="centered"> Usuario </th>
                                    <th class="centered"> Movimiento </th>
                                    <th class="centered"> Motivos </th>
                                    <th class="centered"> Descripción </th>
                                    <th class="centered"> Monto </th>
                                    <th class="centered"> Fecha </th>

                                </tr>
                            </thead>
                            <tbody id="tableBody_datos">

                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
           
        </div>
        <!--Fin Graficos-->
        
        <!-- ======= Aliados ======= -->
        
        <div class="aliados">
            <h3>Mis movimientos</h3>
            
            <div class="dato">
                {% for dato in registros %}
                    <div>
                        <h5>Monto del movimiento:</h5>
                        <span> $ {{ dato.monto }}</span>
                        <h5>Descripción del movimiento:</h5>
                        <span>{{ dato.descripcion }}</span>
                        <h5>Fecha del movimiento:</h5>
                        <span>{{ dato.fecha|date:"d-m-Y" }}</span>
                        <h5>Motivo del movimiento:</h5>
                        <span>{{ dato.movimiento }}</span>
                        <h5>Motivo del motivos:</h5>
                        <span>{{ dato.motivos }}</span>
                        <br>
                        <a href="{% url 'update' dato.id %}" class="a1">Actualizar</a>
                        <a href="{% url 'delete' dato.id %}" class="a2">Eliminar</a>
                    </div>                        
                {% endfor %}    
            </div>
            
        </div>
        <!-- Fin Aliados -->

        
    </div>

    <script src="{% static 'js/dashboard.js' %}"></script>
    
{% endblock %}