{% extends 'core/base.html' %}
{% block titulo %} Inicio {% endblock %}
{% load static %}

{% block estilo %}
    <link rel="stylesheet" href="{% static 'css/styledashboard.css' %}">
{% endblock %}

{% block contenido %}
    <div class="contenedor">
         <!-- ======= Bienvenida ======= -->
        <div class="bienvenido">
            <h1>Dashboard</h1>
        </div>
        
         <!-- Fin Bienvenida -->
         <!-- ======= Servicios ======= -->
        <div class="servicios">
            <h3>Resumen de finanzas personales</h3>
            <div class="servi">
                <div>
                    <h4>Total ingresos</h4>
                    <p> $ {{ monto_total_ingresos }}</p>
                    <ion-icon name="trending-up-outline"></ion-icon>
                </div>
                <div>
                    <h4>Total Egresos</h4>
                    <p> $ {{ monto_total_egresos }}</p>
                    <ion-icon name="trending-down-outline"></ion-icon>
                </div>               
                <div>
                    <h4>Total Disponible</h4>
                    <p> $ {{ monto_total_disponible }} </p>
                    <ion-icon name="wallet-outline"></ion-icon>
                </div>                
                
            </div>    
        </div>

        <!-- Fin Servicios -->
        <!-- Incio Tabla-->
        <div class="continer">
            <h2>Graficos</h2>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto">
                    <div class="chart" id="chart"></div>
                    <div class="chart" id="chartdos"></div>
                </div>
            </div>
        </div>
        <!-- Fin Tabla-->

        <!-- Incio Tabla-->
        <div class="container mt-4">
            <h2>Busqueda de datos</h2>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
                    <div class="table-responsive">
                        <table id="datos" class="table">
                            <caption> Mis datos </caption>
                            <thead>
                                <tr>
                                    <th class="centered">#</th>
                                    <th class="centered">Id</th>
                                    <th class="centered"> Usuario </th>
                                    <th class="centered"> Movimiento </th>
                                    <th class="centered"> Motivos </th>
                                    <th class="centered"> Descripción </th>
                                    <th class="centered"> Monto </th>
                                    <th class="centered"> Fecha </th>

                                </tr>
                            </thead>
                            <tbody id="tableBody_datos">

                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
           
        </div>
        <!--Fin Tabla-->
    
        <!-- Test tabla Btrap -->
        <div class="container">
            <h2>Actualización y elimincación de datos</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Movimiento</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Actualizar</th>
                        <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    {% for dato in registros %}
                        <tbody>
                            <tr>
                            <th scope="row">{{ dato.id }}</th>
                            <td>$ {{ dato.monto }}</td>
                            <td>{{ dato.descripcion }}</td>
                            <td>{{ dato.fecha|date:"d-m-Y" }}</td>
                            <td>{{ dato.movimiento }}</td>
                            <td>{{ dato.motivos }}</td>
                            <td><a class="btn btn-dark" href="{% url 'update' dato.id %}" role="button">Actualizar</a></td>
                            <td><a class="btn btn-dark" href="{% url 'delete' dato.id %}" role="button">Eliminar</a></td>
                            </tr>
                        </tbody>
                    {% endfor %}    
                </table>
        </div>
        </div>
        <!-- Fin Test -->
        
    </div>

    <script src="{% static 'js/dashboard.js' %}"></script>
    
{% endblock %}